  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@500;600;700&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
 <style>
 .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 40px;
      background: #ffffff;
      border-bottom: 1px solid #eee;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      font-family: "Playfair Display", serif;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 30px;
    }

    .nav-links li a {
      text-decoration: none;
      color: #747373;
      font-size: 14px;
      transition: color 0.3s;
      font-family: "DM Sans", sans-serif;
    }

    .nav-links li a:hover {
      color: #8B664B;
    }

    .cart {
      font-size: 20px;
      cursor: pointer;
    }

    .cart:hover {
      opacity: 0.7;
    }

    /* Responsive */
    @media (max-width: 768px) {
      .nav-links {
        display: none;
      }
    }
 </style>
 
 <!-- Navbar start -->
  <nav class="navbar">
    <div class="logo">petit­bloom</div>

    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

   <div class="cart">
  {% render 'snippets/add-to-cart-button.liquid' %}
</div>
  </nav>
  <!-- End Nav bar -->
  {% schema %}
{
  "name": "navbar",
  "settings": [],
  "presets": [{
  "name": "navbar"
  }]
}
{% endschema %}